 <a style='cursor: pointer;' class='list-group-item clearfix' [routerLink]="[id]"
 routerLinkActive='selected:selectedItem?null'>
  <h5 class='list-group-item-heading'><strong>Customer Name:</strong>{{customerData.customerName}}</h5>
  <ul style="list-style-type:none;padding:0px;margin:0px">
    <li class='list-group-item-text'><strong>Number Of Items:</strong> {{customerData.numberOfItems}}</li>
    <li class='list-group-item-text'><strong>Total Amount:</strong> {{customerData.totalAmount}}</li>
    <li class='list-group-item-text'><strong>Status:</strong> {{customerData.status}}</li>
  </ul>
  <button class='btn-sm btn-primary mr-1 mt-2' (click)='onViewDetails()'>View Details</button>
  <button class='btn-sm btn-success mt-2' (click)='onChangeStatus()'>Change Status</button>
</a>
