<div class='container-fluid'>
  <div class='row'>
    <div class='offset-md-2 col-md-4'>
      <div *ngFor='let customer of customerData;let i=index'>
        <a style='cursor: pointer;' class='list-group-item clearfix' (click)='onViewDetails(customer)'>
          <h5 class='list-group-item-heading'><strong>Customer Name: </strong>{{customer.customerName}}</h5>
          <ul style="list-style-type:none;padding:0px;margin:0px">
            <li class='list-group-item-text'><strong>Number Of Items: </strong>{{customer.numberOfItems}}</li>
            <li class='list-group-item-text'><strong>Total Amount: </strong>{{customer.totalAmount}}</li>
            <li class='list-group-item-text'><strong>Status: </strong>{{customer.status}}</li>
          </ul>
          <button class='btn-sm btn-primary mr-1 mt-2'>View Details</button>
          <button class='btn-sm btn-success mt-2' (click)='onChangeStatus(customer)'>Change Status</button>
        </a>
      </div>
    </div>
    <div class='offset-md-1 col-md-5'>
      <app-order-details [customer]="customer"></app-order-details>
    </div>
  </div>
</div>
